.commonBtn {
    font-size: calc((16 / var(--deviceWidth)) * 100vw);
    padding-inline: calc((24 / var(--deviceWidth)) * 100vw);
    padding-block: calc((8 / var(--deviceWidth)) * 100vw);
    border-radius: calc((4 / var(--deviceWidth)) * 100vw);
    background-color: var(--primary);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

    /* NEW - fixes for mobile */
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

}

@media (max-width: 575px) {
    .commonBtn {
        font-size: calc((28 / var(--deviceWidth)) * 100vw);
        padding-inline: calc((20 / var(--deviceWidth)) * 100vw);
        padding-block: calc((12 / var(--deviceWidth)) * 100vw);
    }

}